.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 1px solid var(--primary-color);
  background-color: var(--highlight-color);

  .cardTags {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    gap: 8px;
    margin: 16px;
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 8px;
  }
}

.cardDescription {
  margin: 8px 8px 16px;
}

.cardButton {
  margin-bottom: 8px;
  margin-left: 8px;
}
