.header {
  height: 360px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-image: url("../../public/bg-01-efood.png");
  background-size: cover;
  background-repeat: no-repeat;

  .logo {
    margin-top: 44px;
    margin-bottom: 138px;
  }

  .title {
    padding-bottom: 40px;
    background-color: transparent;
  }
}

.grid {
  max-width: 1024px;
  margin: 80 auto;
}
