.footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 298px;
  text-align: center;

  .logo {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .social {
    margin-bottom: 80px;
  }
}
